.alertDiv {
    margin: 1em 3em 1em 2em;
}

.centerDiv {
    text-align: center;
    margin: auto;
    margin-top: 1%;
}

.container {
    text-align: center;
    margin-top: 2%;
    
}

.note {
    display: contents;
}
