{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block body %}
<div class="container">
    <h1>Note app</h1>
    <form action="#" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
            <input name="note_title" type="text" class="form-control">
        </div>

        <div class="input-group">
            <span class="input-group-text">Note</span>
            <textarea name="note" class="form-control"></textarea>
        </div>

        <div class="centerDiv">
            <button type="submit" class="btn btn-primary w-50">Add</button>
        </div>
    </form><br>

    {% for note in data %}
    <div class="start-50 w-75 h-auto mx-auto">
        <div class="border border-success p-2 mb-2">
            <h4>{{note}}</h4>
            <p name="description">{{data[note]}}</p>

            <div>
                <a href="/update/{{note}}">
                    <button class="btn btn-warning">
                        Update
                    </button>
                </a>

                <a href="/delete/{{note}}">
                    <button class="btn btn-danger">
                        Delete
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}