{% extends 'base.html' %}

{% block title %}Landing page{% endblock %}

{% block body %}
<h1>Note app</h1>
<form action="#" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
        <input name="note_title" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group">
        <span class="input-group-text">Your note</span>
        <textarea name="note" class="form-control" aria-label="With textarea"></textarea>
    </div><br>
    <button type="submit" class="btn btn-primary">Add</button>
</form><br>

{% for title in data.keys() %}
<p>{{title}} - {{data[title]}}</p>
{% endfor %}

{% endblock %}