{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block body %}
<form action="#" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" class="form-control" name="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">First name</label>
        <input type="text" class="form-control" name="firstName">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Last name</label>
        <input type="text" class="form-control" name="lastName">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}